<!-- <p>typ-nawyk-dialog works!</p> -->

<h2 mat-dialog-title>➕ Dodaj nowy typ nawyku</h2>

<mat-dialog-content>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Nazwa nawyku</mat-label>
    <input matInput [(ngModel)]="newType" placeholder="np. Medytacja, Bieganie" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Anuluj</button>
  <button mat-raised-button color="primary" (click)="onSave()">Zapisz</button>
</mat-dialog-actions>
