.main-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  width: 220px;
  background-color: #eeeeee;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.sidebar-toggle {
  margin-bottom: 10px;
}

.sidebar-content {
  transition: width 0.3s ease, opacity 0.3s ease;
  width: 200px;
  opacity: 1;
}

.sidebar-content.closed {
  width: 0;
  opacity: 0;
  overflow: hidden;
}


.sidebar-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

